{% set NAME_PREFIX = env['deployment'] + '-' + env['name'] %}
{% set CLUSTER_NAME = NAME_PREFIX %}

resources:
- name: {{ CLUSTER_NAME }}
  type: container.v1.cluster
  properties:
    zone: {{ properties['zone'] }}
    cluster:
      name: {{ CLUSTER_NAME }}
      initialNodeCount: 1
      nodeConfig:
        oauthScopes:
        - https://www.googleapis.com/auth/compute
        - https://www.googleapis.com/auth/devstorage.read_only
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/monitoring
        diskSizeGb: 20

- name: {{ CLUSTER_NAME }}-n1-standard-2
  type: container.v1.nodePool
  properties:
    zone: {{ properties['zone'] }}
    clusterId: $(ref.{{ CLUSTER_NAME }}.name)
    nodePool:
      name: {{ CLUSTER_NAME }}-n1-standard-2
      initialNodeCount: 1
      autoscaling:
        enabled: true
        minNodeCount: 1
        maxNodeCount: {{ properties['nodeCount'] }}
      management:
        autoUpgrade: true
        autoRepair: true
      config:
        machineType: n1-standard-2
        diskSizeGb: 20
        preemptible: true
        oauthScopes:
        - https://www.googleapis.com/auth/compute
        - https://www.googleapis.com/auth/devstorage.read_only
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/monitoring
        localSsdCount: 0
